[submodule "home"]
    path = home
    url = https://github.com/Elrekito1/ERS/tree/9bc77064664d18203eca1771bed654232fd0f194/home

[submodule "ServerTest"]
    path = ServerTest
    url = https://github.com/Elrekito1/ERS/tree/9bc77064664d18203eca1771bed654232fd0f194/ServerTest