[submodule "home"]
    path = home
    url = https://github.com/Elrekito1/ERS/tree/main/home

[submodule "ServerTest"]
    path = ServerTest
    url = https://github.com/Elrekito1/ERS/tree/main/ServerTest

